@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.ionicons {
	font-family: 'Ionicons';
}

.has-tabs {
  margin-top: 49px;
  bottom: 0;
}

a:hover {
  text-decoration: none;
}
