@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.has-tabs {
  margin-top: 49px;
  bottom: 0;
}


/*
a {color: inherit;}
a:hover {color: inherit;}

ul {padding: 5px;}
plan, drop {float:right; padding: 2px; display: block; border: 1px solid black; cursor: pointer;}
plan:hover, drop:hover {background: green}
.series, episode {
  display: block; 
  position: relative; 
  height: 35px;
  overflow: hidden;
  font-size: 13px;
  font-weight: normal;
}
season {
  color: black;
}

label {
  font-weight: normal;
}

.watched {
  font-weight: bold;
}

#tops {background: green; }
#center {background: purple; }
#zoom {background: green;}
*/