@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
.button { background: none; border: none; }
button { background: none; border: none; }
.button:active, .button.active { background: none; border: none; box-shadow: none; }
.button:after {top: 0; bottom: 0; left: 0; right: 0;}
a:hover {  text-decoration: none; }


.ionicons {
	font-family: 'Ionicons';
}

.has-tabs {
  margin-top: 49px;
  bottom: 0;
}

#tops a.item:after, 
#tops button.item:after { content: ''; }


.social-icon {
	font-size: 40px;
	display: inline-block;
	padding: 20px;
	border: 1px solid black;
	width: 100px;
}

.home-logo { margin: 0 auto;}

header.bar { background: url('../images/logoheader.png') no-repeat center center; }
.bar-header button { width: 36px; height: 100%; font-size: 30px; position: absolute; top: 0px}
.bar-header button.left { left:0; }
.bar-header button.right { right:0; }