.series-details {
	margin-top: 44px;
	height: 100px;
}
.has-upperbox {
	margin-top: 100px;
}
.left-badge {
	position: absolute;
	left: 5px;
}

episode .button {
	background: none;
	border: none;
}
episode .button:after {
	content: '\f16d';
	font-size: 2.4em;
	top: 0; bottom: 0; left: 0; right: 0;
}
episode .button:active, 
episode .button.active {
	box-shadow: none;
	background: none;
}
episode.episode-watched .button:after {
	content: '\f16e';
	color: #3FD397;
}

/*
	ionic override
*/
.item-complex.item-icon-left .item-content {
	padding-left: 35px;
}
.item.active, 
.item-complex.active .item-content,
.item.active.item-stable {
	background: inherit;
}

/*
	bootstrap-ui override
*/
.season .panel-heading {
	height: 51px;
	padding: 17px 15px;
}
.panel-body {
	padding: 2px;
}
