<div id="zoom" class="page zoom" ng-controller="ZoomCtrl">

	<header class="bar bar-header">
        <button menu-toggle="left" ng-click="sideMenuController.toggleLeft()" class="ionicon ion-search left"></button>
        <button menu-toggle="right" ng-click="sideMenuController.toggleRight()" class="ionicon ion-person right"></button>
    </header>

	<ion-view>
		<ion-content has-header="true" class="">	
			<div class="details">
				<div id="showHeader" style="background: url('{{item.images.header}}') no-repeat center #444; background-size: 100%">
					<div class="title-bar"> <h2>{{item.title}}</h2> </div>
					<seriesactions>
						<a class="b-action plan ionicons" ng-click="plan()"></a>
						<a class="b-action drop ionicons" ng-click="drop()"></a>
					</seriesactions>
				</div>			
			</div>
			<accordion close-others="true">
				<ion-list>
					<season ng-repeat="sea in item.seasons track by $index" item="sea" series="item" start-expanded="$index == 0" 
					ng-click="clickHandler()"> </season>
				</ion-list>
				<ion-scroll> </ion-scroll>
			</accordion>
		</ion-content>
	</ion-view>

</div>
