<div id="left"  ng-include="'views/tops.html'"></div>

<div id="zoom" class="page" ng-controller="ZoomCtrl">
  	<h3>zoom</h3>
  	<div>{{item.tvdb_id}}</div>
  	<div>{{item.title}}</div>
  	<div>{{item.user.status}}</div>
  	<seriesactions>
  		<button ng-show="item" ng-click="watch()">watched</button>
  	</seriesactions>
  	<ul>
		<season ng-repeat="sea in item.seasons track by $index" item="sea" series="item">
				<div>Season {{sea.season}}</div>
				<episode ng-repeat="ep in sea.episodes track by $index" item="ep" series="item"></episode>
		</season>
	</ul>
</div>
